html {
	@apply text-full;
	-webkit-text-size-adjust: none;
}

body {
	@apply bg-white text-grey-300 font-sans text-lg leading-normal antialiased;
}

[disabled] {
	@apply cursor-not-allowed select-none;
}

::selection {
	@apply bg-grey-300 text-white;
	text-shadow: none;
}

[v-cloak] {
	@apply hidden;
}
