html {
	@apply text-full;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: none;
}

body {
	@apply bg-white text-grey-400 font-sans text-lg leading-normal antialiased xl:bg-grey-100;
}

[disabled] {
	@apply cursor-not-allowed select-none;
}

::selection {
	@apply bg-grey-400 text-white;
	text-shadow: none;
}

[v-cloak] {
	@apply hidden;
}
