html {
	@apply text-full;
	-webkit-text-size-adjust: none;
}

body {
	@apply bg-white text-grey-300 font-body text-lg leading-normal;
}

[disabled] {
	@apply cursor-not-allowed select-none;
}

::selection {
	@apply bg-black text-white;
	text-shadow: none;
}

[v-cloak] {
	@apply hidden;
}
